 * {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;

}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

header {
    width: 100%;
    border-bottom : 1px solid #ddd;
 }
 

header .inner {
    width: 1180px;
    height: 120px;
    margin:0px auto;
    position: relative;
 }

header .inner h1 {
        position: absolute;
        left: 0px;
        bottom: 15px;
}

header .inner h1 a {
    font: bold 24px/1 "arial";
    color: #444;
}
header .inner .util {
	position: absolute;
	top: 20px;
	right: 30px;
}
header .inner .util li {
	float: left; 
}
header .inner .util li a {
	display: block;
	font: 12px/1 "arial";
	color: #999;
	padding: 0px 10px;
}

header .inner #gnb {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
header .inner #gnb li {    float: left;    }
header .inner #gnb li a {
	display: block; 
	font: bold 15px/1 "arial";
	color: #555;
	padding: 20px 40px;
	transition: all 0.5s;
}
header .inner #gnb li a:hover {
	background: #555;
	color: #fff;
}

figure {
	width: 100%;
	height: calc(100vh - 120px); 
	background: #000;
	position: relative;
	overflow: hidden; 	
	padding-top: 250px;
}
figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
 }
 figure .inner h1 {
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
 }
 
 figure .inner p {
    font: 16px/1.4 "arial";
    color: #888;
    margin-bottom: 60px;
 }
 
 figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px "arial";
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.5s;
 }
 
 figure .inner a:hover {
    background: #fff;
    color: #555;
 }
 
/* news */
section {
    width: 100%;
    padding: 200px 0px;
}
section .inner {
    width: 1180px;
    margin: 0px auto;
}
section .inner h1 {
    font: bold 24px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 50px;
}
section .inner .wrap {
    width: 100%;
}
section .inner .wrap::after { 
    /* arfore, after 가상 선택자 : 특정 요소의 앞이나 뒤에 
    지정한 내용(텍스트 또는 이미지) 추가 가능 */
    content: "";
    /* 가상 요소의 내용을 빈 문자열로 설정, 가상 요소가 생성되지만 실제로 보이지는 않음 */
    display: block;
    clear: both;
    /*자식 요소인 article의 float해제*/
}


section .inner .wrap {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    }
section .inner .wrap article {
    width: 280px;
    float:left;
    margin-right: 20px;
section .inner .wrap article:last-child {
	
}
section .inner .wrap article h2 {
	
}
section .inner .wrap article h2 a {

}
section .inner .wrap article p {

}
section .inner .wrap article .pic {

}
section .inner .wrap article .pic img {
	
}
